.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr; /* duas colunas, 256px para a sidebar e 1fr para o restante */
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* 14px */
  }

  img {
    box-sizing: initial;
  }

  .wrapper {
    grid-template-columns: 1fr; /* em dispositivos menores, ocupe toda a largura da tela, com uma coluna */
  }
}